.container {
  background: "#1F1F1F";
}

.wallet-adapter-button-trigger {
  background-color: #2662e7;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
